{% extends "!page.html" %}

{% block meta %}
<!-- Custom canonical link and redirect logic -->
<link rel="canonical" href="{{ book_baseurl }}/{{ pagename }}/">
<script>
  location.href = "{{ book_baseurl }}/{{ pagename }}/";
</script>
<meta http-equiv="refresh" content="0; url={{ book_baseurl }}/{{ pagename }}/">
<meta name="robots" content="noindex">

{{ super() }} {# Retain any additional meta tags provided by the theme #}
{% endblock meta %}

{% block main %}
<!-- Optional message for users who are not automatically redirected -->
<h1>Redirecting...</h1>
<p>
  If you are not redirected automatically, please
  <a href="{{ book_baseurl }}/{{ pagename }}/">click here</a>.
</p>

{{ super() }} {# Retain the normal page content provided by the theme #}
{% endblock main %}
