.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: row;
  margin: 15% auto;
  width: 60vw;
  padding: 80px 40px;
  background-color: rgba(20, 20, 20, 1);
  box-shadow: 0 0 22px 1px black;
  gap: 30px;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .modal-content {
    width: 90vw !important;
    flex-direction: column !important;
  }
  .modal-content input {
    font-size: 0.9rem !important;
  }
  .modal-content button {
    padding: 10px !important;
  }
  .modal-content img {
    width: 50vw !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1022px) {
  .modal-content {
    width: 70vw !important;
    flex-direction: column !important;
  }
  .modal-content input {
    font-size: 0.95rem !important;
  }
  .modal-content img {
    width: 30vw !important;
  }
}

.modal-content img {
  width: 20vw;
}

.modal-content .header {
  display: flex;
  justify-content: flex-end;
}

.modal-content input {
  border: none;
  background-color: transparent;
  margin: 10px 0;
  flex: 1;
  color: rgba(255, 255, 255, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.modal-content input:focus {
  outline: none !important;
}

.modal-content button {
  color: white;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 6px;
  background: linear-gradient(90deg, #F58E8E 0%, #F1B370 100%);
  padding: 10px 24px;
}

.modal-content .email-error {
  display: flex;
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

.modal-content .input-container {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}

.modal-content h1 {
  color: #FFF;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.modal-content p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.modal-content .modal-text {
  flex: 1;
  overflow: auto;
}

.modal-content a {
  text-decoration: none;
  color: #F58E8E;
}

.modal-content a:hover {
  text-decoration: none;
  color: #F1B370;
}
