.modal {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60vw;
  padding: 45px;
  background-color: rgba(20, 20, 20, 1);
  box-shadow: 0 0 22px 1px black;
  gap: 30px;
}

@media only screen and (max-width: 480px) {
  .modal-content {
    width: 90vw !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 25px !important;
  }
  .modal-content h1 {
    font-size: 1.2rem !important;
    margin-bottom: 5vh !important;
  }
  .modal-content p {
    font-size: 0.9rem !important;
  }
  .modal-content .input-container {
    padding: 6px !important;
  }
  .modal-content input {
    font-size: 0.9rem !important;
  }
  .modal-content .input-container .button {
    padding: 6px 18px !important;
  }
  .modal-content img {
    min-width: 35vw !important;
    max-width: 40vw !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1022px) {
  .modal-content {
    width: 70vw !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 35px !important;
  }
  .modal-content h1 {
    font-size: 1.5rem !important;
    margin-bottom: 5vh !important;
  }
  .modal-content .input-container {
    padding: 8px 12px !important;
  }
  .modal-content input {
    font-size: 0.95rem !important;
  }
  .modal-content img {
    min-width: 20vw !important;
    max-width: 25vw !important;
  }
}

.modal-content img {
  min-width: 10vw;
  max-width: 15vw;
  height: 100%;
}

.modal-content .header {
  display: flex;
  justify-content: flex-end;
}

.modal-content input {
  border: none;
  background-color: transparent;
  flex: 1;
  color: rgba(255, 255, 255, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.modal-content input:focus {
  outline: none !important;
}

.modal-content .input-container .button {
  color: white;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 6px;
  background: linear-gradient(97.33deg, #7F96FF -3.51%, #F58E8E 109.45%);
  padding: 10px 24px;
}

.modal-content .email-error {
  display: flex;
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

.modal-content .input-container {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}

.modal-content h1 {
  color: #FFF;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 8vh;
}

.modal-content p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.modal-content .modal-text {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content a {
  text-decoration: none;
  color: #7F96FF;
}

.modal-content a:hover {
  text-decoration: none;
  color: #F58E8E;
}


/* Announcement Banner */

.bd-header-announcement__content a {
  background-color: #7F96FF;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.bd-header-announcement__content a:hover {
  color: rgba(255, 255, 255, 0.90);
}
